<!-- <div class="border-end col-2 pe-4"> -->

<a href="/">
  <img class="logo my-3 ps-4 w-100" src="./images/saveneed.png" alt="">
</a>

<div class="my-3">

  <a href="/products" class="d-block w-100 border-0 text-black py-2 rounded-end bg-transparent text-start ps-4">
    Products
  </a>

  <a href="/orders" class="d-block w-100 border-0 text-black py-2 rounded-end bg-transparent text-start ps-4">
    Orders
  </a>

  <a href="/balance" class="d-block w-100 border-0 text-black py-2 rounded-end bg-transparent text-start ps-4">
    Balance
  </a>

  <a href="settings" class="d-block w-100 border-0 text-black py-2 rounded-end bg-transparent text-start ps-4">
    Settings
  </a>

  <a href="/orders" class="d-block w-100 border-0 text-black py-2 rounded-end bg-transparent text-start ps-4">
    My Placed Orders
  </a>

  <a href="/favourite-products"
    class="d-block w-100 border-0 text-black py-2 rounded-end bg-transparent text-start ps-4">
    Favourites
  </a>

  <a href="/dashboard" class="d-block w-100 border-0 text-black py-2 rounded-end products-btn  text-start ps-4 ">
    Dashboard
  </a>
  <a href="#" class="d-block w-100 border-0 text-black py-2 rounded-end products-btn  text-start ps-4 ">
    Game
  </a>


</div>
<!-- </div> -->