<%- include('header'); -%>
<!-- Add Product Section -->
<div
	class="container flex-grow-1 align-self-center d-flex flex-column justify-content-center align-items-center py-5"
>
	<div
		class="w-75 d-flex flex-column justify-content-center align-items-center"
	>
		<h1 class="mb-5 mt-4 mt-lg-0">Upload Product</h1>
		<p class="text-center mb-5">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas
			officiis tenetur ipsum corporis, praesentium aut soluta nisi ullam? Autem,
			odit ipsa necessitatibus non eveniet distinctio adipisci expedita beatae?
			Ratione repudiandae recusandae eos, earum incidunt nemo commodi quos
			deleniti vel eaque.
		</p>
		<div
			class="cards d-flex flex-column flex-lg-row justify-content-between gap-5"
		>
			<div
				class="card d-flex flex-column p-4 align-items-center rounded-3"
				style="width: 25rem; height: max-content"
			>
				<img src="./images/Ellipse 4" class="card-img-top w-50" />
				<div class="card-body d-flex flex-column align-items-center">
					<h5 class="card-title mb-4">Upload Your Own Product</h5>

					<a href="/upload-own-product" class="btn w-50">Proceed</a>
				</div>
			</div>

			<div
				class="card d-flex flex-column p-4 align-items-center rounded-3"
				style="width: 25rem; height: max-content"
			>
				<img src="./images/Ellipse 4" class="card-img-top w-50" />
				<div class="card-body d-flex flex-column align-items-center">
					<h5 class="card-title mb-4">Upload From Our Store</h5>

					<a href="/upload-brand-product" class="btn w-50">Proceed</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); -%>
