<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
        <link rel="stylesheet" href="./css/style.css" />
        <link rel="stylesheet" href="/css/responsive.css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <style>
        .iti {
            width: 100%;
            display: block ! important;
        }
    </style>

    <body class="bg-gray-100 flex items-center justify-center min-h-screen">
        <div class="d-flex justify-content-center align-items-center border min-vh-100 login-page-div"
            style="width: 100vw">
            <div class="d-flex flex-column row-gap-0">
                <img src="https://saveneed.com/images/saveneed1.png" class="p-2 mb-3 me-10"
                    style="width: 50%; align-self: center;" />

                <div class="max-w-md p-8 space-y-4 bg-white rounded-lg shadow-lg">

                    <h2 class="text-2xl font-bold text-center text-gray-800">Employee Login</h2>

                    <form class="d-flex flex-column row-gap-4" action="/employee-login" method="POST">
                        <!-- Mobile Number -->

                        <div class="position-relative">
                            <div class="">
                                <h5 class="text-center" style="color: red">
                                    <b><i><%= loginMessage %></i></b>
                                </h5>
                                <label for="inputEmail1" class="form-label fw-bold">Mobile Number</label>
                            </div>




                            <input type="tel" class="form-control py-3" id="phone" aria-describedby="phonelHelp"
                                placeholder="Enter Your Phone Number" name="mobile_number" style="
								box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08),
									-2px -2px 4px rgba(0, 0, 0, 0.08);" />
                            <div id="error-msg" style="color: red; margin-top: 5px;"></div>
                            <div id="valid-msg" style="color: green; margin-top: 5px;"></div>

                        </div>

                        <!-- <div>
                            <label for="mobile" class="block text-sm font-medium text-gray-700">Mobile Number</label>
                            <input type="text" id="mobile" name="mobile_number" placeholder="Enter your mobile number"
                                class="w-full px-3 py-2 mt-1 border rounded-md shadow-sm border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        </div> -->

                        <!-- Password -->
                        <div class="position-relative ">
                            <label for="inputPassword" class="form-label fw-bold">Password</label>
                            <div class="position-relative">

                                <input type="password" class="form-control py-3 inputPassword" id="inputPassword"
                                    placeholder="Password" name="password" style="
                        								box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08),
                                        -2px -2px 4px rgba(0, 0, 0, 0.08);
                                        " />
                                <p class="password-show-btn"
                                    style="position:absolute; right:2%; top:50%; transform: translateY(-50%); cursor:pointer">
                                    <i class="bi bi-eye-fill"></i>
                                </p>


                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div>
                            <button type="submit" class="w-full btn btn-primary text-white">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
    <script>
        const passShowBtn = document.querySelectorAll('.password-show-btn');
        passShowBtn.forEach(psb => {
            psb.addEventListener('click', e => {
                const passField = psb.parentElement.children[0];
                if (passField.type == 'password') passField.type = 'text';
                else passField.type = 'password'
            })
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>

    <script>
        window.intlTelInputGlobals.loadUtils("./js/utils.js"); // for isValidNumber function

        function getDecCCo(url) {
            return fetch(url)
                .then(response => response.json())
                .then(data => {
                    return {
                        countryCode: data.countryCode
                    };
                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error;
                });
        }

        async function initializeTelInput() {
            try {
                const apiUrl = `/__gCCo`;
                const {
                    countryCode
                } = await getDecCCo(apiUrl);
                const input = document.querySelector("#phone");


                const telInput = intlTelInput(input, {
                    initialCountry: countryCode || "auto",
                    autoInsertDialCode: true,
                    separateDialCode: false,
                });


                const errorDisplay = document.querySelector("#error-msg");
                const validDisplay = document.querySelector("#valid-msg");
                const submitButt = document.querySelector("#loginForm");

                // Function to update the placeholder based on the selected country
                function updatePlaceholder() {
                    const selectedCountryData = telInput.getSelectedCountryData();
                    const newInputValue = "+" + selectedCountryData.dialCode;
                    input.value = newInputValue;
                }

                // Function to check if the entered phone number is valid
                function checkValidNumber() {
                    if (input.value.trim()) {
                        if (telInput.isValidNumber()) {
                            validDisplay.textContent = "Valid phone number";
                            errorDisplay.textContent = "";
                            submitButt.disabled = false;
                        } else {
                            validDisplay.textContent = "";
                            errorDisplay.textContent = "Invalid phone number";
                            submitButt.disabled = true;
                        }
                    }
                }

                updatePlaceholder();
                input.addEventListener("countrychange", updatePlaceholder);
                input.addEventListener("keyup", checkValidNumber); // Check validity on keyup event
            } catch (error) {
                console.error('Error:', error);
            }
        }

        initializeTelInput();
    </script>

</html>