<!-- Sidebar Section -->
<div class="position-sticky border-end border-secondary-subtle py-4 pe-5 dashboard-sidebar"
	style="width: 18%; height: 100vh; top: 0; box-sizing: border-box">
	<div class="d-flex align-items-start justify-content-between">
		<a href="/" class=" d-flex align-items-center dashboard-company-logo" style="height: fit-content;">
			<img src="/images/saveneed.png" class="mb-5 ms-4 w-50 " />
		</a>
		<button class="d-lg-none btn btn-outline-secondary fs-4 dashboard-closer">
			<i class="bi bi-x"></i>
		</button>
	</div>
	<ul class="p-0 d-flex flex-column gap-2 dashboard-sidebar-links-grp">
		<li class="py-2 rounded rounded-start-0 px-2 cursor-pointer sidebar-link">
			<a href="/user_dashboard" class="text-black fs-5 fw-medium ms-4">Dashboard</a>
		</li>
		<li class="py-2 rounded rounded-start-0 px-2 cursor-pointer sidebar-link">
			<a href="/user_order" class="text-black fs-5 fw-medium ms-4">Orders</a>
		</li>
	</ul>
</div>